#wlautoContainer {
	position:fixed !important;
	 z-index:9999;
	 top:-800px;
	 right:10px;
	 background:url("/assets/common/img/wlauto2-background.png") no-repeat top left;
	 width:260px;
	 height:427px;
	 text-align:center;
	 opacity: 1 !important; 
}
#wlautoPlayer {
	width:240px;
	 height:384px;
	 position:relative;
}
#wlautoPlayer .wlauto-noflash *{
	border:none;
}
#wlautoScreen{
	left: 10px;
    position: absolute;
    top: 35px;
}
.linkPrompt-view{
	color:#333;
	background-color:#FFF;
	border:1px solid;
	border-color:#777;
	border-color:rgba(0,0,0,0.5);
	text-decoration:none;
	background-position:middle right;
	background-repeat:no-repeat;
	border-radius:15px;
	background:#FFF url(arrow.png) no-repeat center right;
	font-family:Arial, Helvetica, "sans-serif";
	box-shadow:2px 2px 4px rgba(0,0,0,0.1);
	}
.linkPrompt-view:hover{
	color:#000;
	text-decoration:underline;
	background-color:rgba(255,255,255,1);
	}
.wlautoHover:hover, .wlautoHover *:hover{
	background-color:rgb(194,220,245) !important;
	}
.wlautoHover.wlautoImage{
	outline: 1px solid rgb(194,220,245) !important;
	}
.wlautoPlaying, .wlautoPlaying *{
	background-color:rgb(255,255,0) !important;
	}
.wlautoPlaying:hover, .wlautoPlaying *:hover{
	background-color:rgb(255,255,0) !important;
	}
.wlautoPlaying.wlautoImage{
	outline: 1px solid rgb(255,255,0) !important;
	}
	
#startWlAuto{
	position:fixed; padding:2px;
	background:#FFF; outline:1px solid #666;
	cursor:pointer;
	width:30px; height:30px; overflow:hidden;
	transition:0.4s;
	transition-property:width,margin;
	display:inline-block;
	font-family: Arial;
	z-index:1000;
	margin:0;
	line-height: normal;
	box-sizing: content-box;
    z-index:1200;
}

#startWlAuto.wl-element-right{top:30%; right:0;}
#startWlAuto.wl-element-left{top:30%; left:0;}
#startWlAuto.wl-element-top{top:0; left:50%; margin-left:-16px;}
#startWlAuto.wl-element-bottom{bottom:0; left:50%; margin-left:-17px;}
#startWlAuto.wl-element-content{position:relative; margin-left:0px;}

#startWlAuto:hover{	width:160px; }

#startWlAuto.wl-element-top:hover, #startWlAuto.wl-element-bottom:hover{margin-left:-82px}

#startWlIcon{
	background: url("/assets/common/img/acessibilidade-intl.png") no-repeat center center;
	width:30px; height:30px; 
	position:absolute; top:2px; left:2px;
}
#startWlDetails{
	height:30px;
	position:absolute;
	left:34px; top:2px;
}
#startWlHeader {
    color: #777;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    width: 125px;
    position: relative;
    bottom: 2px;
}
#startWlFooter {
    bottom: 0px;
    color: #09527d;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 2px;
}

#startWlAuto{
	right:-200px!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"!important;
	filter: alpha(opacity=0)!important;
	-moz-opacity: 0!important;
	-khtml-opacity: 0!important;
	opacity: 0!important;
}